*{
    box-sizing: border-box;
    /*  */
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;

}

.Progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}


.Progress-container::before {
    content: '';
    background-color:rgb(102, 102, 102);
    top: 15px;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.Progress {
    background-color: rgb(0, 153, 255);
    position: absolute;
    top: 15px;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius:  50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(189, 189, 189);
    transition: rgb(0, 153, 255);
    
}
.circle.active {
    border-color: rgb(0, 153, 255);
}

.btn {
    background-color: rgb(0, 153, 255);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 30px;
    font-size: 14px;
}
.btn:active{
    transform: scale(0.95); /* button effect that sizes it down */
}
.btn:focus{
    outline: 0;
}

.btn:disabled {
    background-color: rgb(192, 192, 192);
    cursor: not-allowed; /* makes it so that when the curuse hovers it shows a blocked symbol*/
}